@{
    ViewBag.Title = "Home Page";
}

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="max-height:600px;">
                <img src="~/Img/baner1.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Piscinas para adultos y niños</h5>
                    <p>
                        Cuidadosamente tratadas y certificadas por DIGESA
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="max-height:600px;">
                <img src="~/Img/baner2.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Restaurante</h5>
                    <p>
                        La más variada carta de platos criollos y nacionales
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="max-height:600px;">
                <img src="~/Img/baner3.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Areas de esparcimiento</h5>
                    <p>
                        Contamos con áreas deportivas, fútbol, vóley, cuatrimotos, paseo a caballo, etc.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section class="">
    <div class="container">
        <div class="m-auto">
            <svg class="logo acologo" xmlns="http://www.w3.org/2000/svg" xmlns:ooo="http://xml.openoffice.org/svg/export" style="    display: block;
                    margin: 7px auto;
                    width: 84%;
                    position: relative;
                    top: 20px;" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:presentation="http://sun.com/xmlns/staroffice/presentation" xmlns:smil="http://www.w3.org/2001/SMIL20/" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" version="1.2" width="133.76mm" height="52.08mm" viewBox="4141 13202 13376 5208" preserveAspectRatio="xMidYMid" fill-rule="evenodd" stroke-width="28.222" stroke-linejoin="round" xml:space="preserve">
            <defs class="ClipPathGroup">
            <clipPath id="presentation_clip_path" clipPathUnits="userSpaceOnUse">
            <rect x="4141" y="13202" width="13376" height="5208"></rect>
  </clipPath>
            <clipPath id="presentation_clip_path_shrink" clipPathUnits="userSpaceOnUse">
            <rect x="4154" y="13207" width="13350" height="5198"></rect>
  </clipPath>
 </defs>
            <defs class="TextShapeIndex">
            <g ooo:slide="id1" ooo:id-list="id3 id4 id5 id6 id7 id8 id9 id10 id11 id12 id13 id14 id15 id16 id17 id18 id19 id20 id21 id22"></g>
 </defs>
            <defs class="EmbeddedBulletChars">
            <g id="bullet-char-template-57356" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 580,1141 L 1163,571 580,0 -4,571 580,1141 Z"></path>
  </g>
            <g id="bullet-char-template-57354" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 8,1128 L 1137,1128 1137,0 8,0 8,1128 Z"></path>
  </g>
            <g id="bullet-char-template-10146" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 174,0 L 602,739 174,1481 1456,739 174,0 Z M 1358,739 L 309,1346 659,739 1358,739 Z"></path>
  </g>
            <g id="bullet-char-template-10132" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 2015,739 L 1276,0 717,0 1260,543 174,543 174,936 1260,936 717,1481 1274,1481 2015,739 Z"></path>
  </g>
            <g id="bullet-char-template-10007" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 0,-2 C -7,14 -16,27 -25,37 L 356,567 C 262,823 215,952 215,954 215,979 228,992 255,992 264,992 276,990 289,987 310,991 331,999 354,1012 L 381,999 492,748 772,1049 836,1024 860,1049 C 881,1039 901,1025 922,1006 886,937 835,863 770,784 769,783 710,716 594,584 L 774,223 C 774,196 753,168 711,139 L 727,119 C 717,90 699,76 672,76 641,76 570,178 457,381 L 164,-76 C 142,-110 111,-127 72,-127 30,-127 9,-110 8,-76 1,-67 -2,-52 -2,-32 -2,-23 -1,-13 0,-2 Z"></path>
  </g>
            <g id="bullet-char-template-10004" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 285,-33 C 182,-33 111,30 74,156 52,228 41,333 41,471 41,549 55,616 82,672 116,743 169,778 240,778 293,778 328,747 346,684 L 369,508 C 377,444 397,411 428,410 L 1163,1116 C 1174,1127 1196,1133 1229,1133 1271,1133 1292,1118 1292,1087 L 1292,965 C 1292,929 1282,901 1262,881 L 442,47 C 390,-6 338,-33 285,-33 Z"></path>
  </g>
            <g id="bullet-char-template-9679" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 813,0 C 632,0 489,54 383,161 276,268 223,411 223,592 223,773 276,916 383,1023 489,1130 632,1184 813,1184 992,1184 1136,1130 1245,1023 1353,916 1407,772 1407,592 1407,412 1353,268 1245,161 1136,54 992,0 813,0 Z"></path>
  </g>
            <g id="bullet-char-template-8226" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 346,457 C 273,457 209,483 155,535 101,586 74,649 74,723 74,796 101,859 155,911 209,963 273,989 346,989 419,989 480,963 531,910 582,859 608,796 608,723 608,648 583,586 532,535 482,483 420,457 346,457 Z"></path>
  </g>
            <g id="bullet-char-template-8211" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M -4,459 L 1135,459 1135,606 -4,606 -4,459 Z"></path>
  </g>
            <g id="bullet-char-template-61548" transform="scale(0.00048828125,-0.00048828125)">
            <path d="M 173,740 C 173,903 231,1043 346,1159 462,1274 601,1332 765,1332 928,1332 1067,1274 1183,1159 1299,1043 1357,903 1357,740 1357,577 1299,437 1183,322 1067,206 928,148 765,148 601,148 462,206 346,322 231,437 173,577 173,740 Z"></path>
  </g>
 </defs>
            <defs class="TextEmbeddedBitmaps"></defs>
            <g class="SlideGroup">
            <g>
            <g id="container-id1">
            <g id="id1" class="Slide" clip-path="url(#presentation_clip_path)">
            <g class="Page">
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id3">
            <rect class="BoundingBox" stroke="none" fill="none" x="9341" y="13201" width="155" height="396"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 9341,13202 C 9342,13238 9347,13272 9361,13308 9368,13325 9377,13343 9385,13360 9395,13382 9406,13405 9415,13427 9431,13462 9442,13496 9454,13532 9458,13545 9463,13565 9471,13576 9476,13583 9484,13589 9494,13596 9493,13580 9492,13564 9490,13549 9488,13530 9484,13512 9478,13493 9472,13477 9464,13461 9456,13445 9444,13419 9432,13392 9422,13365 9406,13329 9394,13294 9383,13257 9379,13247 9374,13226 9367,13217 9363,13212 9352,13207 9341,13202 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id4">
            <rect class="BoundingBox" stroke="none" fill="none" x="11346" y="14190" width="465" height="190"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 11346,14365 C 11346,14369 11346,14374 11346,14378 11378,14373 11437,14354 11453,14348 11509,14329 11564,14312 11619,14292 11665,14275 11764,14238 11810,14190 11787,14189 11760,14191 11748,14193 11687,14200 11626,14218 11570,14239 11518,14258 11465,14281 11416,14309 11397,14321 11363,14343 11346,14365 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id5">
            <rect class="BoundingBox" stroke="none" fill="none" x="8493" y="13284" width="541" height="573"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 8493,13284 C 8506,13348 8529,13359 8595,13425 8666,13498 8733,13575 8804,13648 8850,13696 8952,13804 9033,13856 9015,13794 8989,13777 8926,13710 8873,13653 8817,13598 8761,13542 8694,13475 8590,13339 8493,13284 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id6">
            <rect class="BoundingBox" stroke="none" fill="none" x="11053" y="13411" width="663" height="527"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 11053,13937 C 11145,13898 11279,13788 11335,13742 11379,13706 11423,13669 11466,13632 11503,13601 11541,13569 11579,13539 11614,13512 11648,13486 11683,13460 11689,13455 11706,13443 11712,13436 11713,13431 11712,13424 11713,13419 11713,13416 11713,13413 11714,13411 11695,13413 11675,13422 11663,13428 11619,13450 11575,13483 11537,13514 11506,13539 11476,13565 11446,13590 11422,13612 11397,13633 11371,13653 11303,13705 11239,13762 11172,13816 11096,13877 11072,13868 11053,13937 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id7">
            <rect class="BoundingBox" stroke="none" fill="none" x="11483" y="14730" width="858" height="60"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 11484,14740 C 11485,14752 11486,14764 11485,14776 11504,14779 11523,14784 11542,14788 L 12340,14759 C 12339,14753 12339,14748 12340,14741 L 12340,14740 C 12322,14737 12305,14733 12287,14730 L 11930,14734 C 11867,14734 11805,14732 11743,14731 11658,14730 11569,14730 11484,14740 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id8">
            <rect class="BoundingBox" stroke="none" fill="none" x="7758" y="14719" width="858" height="75"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 7758,14760 C 7817,14791 7925,14792 7982,14791 8023,14790 8063,14788 8104,14786 8139,14784 8174,14782 8210,14782 8262,14782 8314,14784 8367,14786 8404,14788 8442,14790 8479,14792 8509,14793 8564,14796 8591,14778 8600,14771 8608,14761 8614,14749 8543,14717 8438,14720 8367,14722 8295,14726 8222,14734 8150,14734 8102,14734 8054,14732 8007,14729 7970,14726 7934,14723 7897,14721 7864,14720 7806,14717 7778,14735 7769,14741 7763,14750 7758,14760 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id9">
            <rect class="BoundingBox" stroke="none" fill="none" x="9060" y="13780" width="2094" height="1330"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 10000,13785 C 10575,13730 11089,14124 11147,14667 11154,14729 11154,14790 11149,14849 11099,14847 11049,14848 11000,14851 10826,14862 10481,14936 10360,15057 L 10309,15108 C 10285,15096 10261,15086 10237,15076 10060,15005 9819,14983 9629,14988 9470,14992 9273,15016 9117,15090 9091,15019 9073,14945 9065,14867 9007,14324 9425,13840 10000,13785 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id10">
            <rect class="BoundingBox" stroke="none" fill="none" x="9256" y="15730" width="1326" height="717"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 10581,16318 C 10320,15776 9720,15618 9256,15805 L 9414,16007 C 9821,15850 10202,16127 10375,16445 10444,16404 10512,16362 10581,16318 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id11">
            <rect class="BoundingBox" stroke="none" fill="none" x="8930" y="15186" width="2039" height="1057"></rect>
            <path fill="rgb(0,158,224)" stroke="none" d="M 10968,16043 C 10600,15348 9792,14904 8931,15392 L 9166,15690 C 9838,15430 10425,15669 10694,16241 10787,16178 10879,16112 10968,16043 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id12">
            <rect class="BoundingBox" stroke="none" fill="none" x="10863" y="15544" width="586" height="384"></rect>
            <path fill="rgb(114,170,61)" stroke="none" d="M 10863,15599 C 10954,15720 11025,15814 11108,15927 11232,15821 11347,15708 11448,15587 11296,15515 11028,15547 10863,15599 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id13">
            <rect class="BoundingBox" stroke="none" fill="none" x="10428" y="15036" width="1314" height="456"></rect>
            <path fill="rgb(177,201,0)" stroke="none" d="M 10428,15251 C 10552,15335 10637,15401 10755,15490 11202,15399 11172,15392 11536,15479 11617,15368 11687,15250 11740,15125 11556,15065 11289,15025 11071,15038 10886,15051 10536,15136 10428,15251 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id14">
            <rect class="BoundingBox" stroke="none" fill="none" x="10627" y="13208" width="194" height="436"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 10627,13642 C 10637,13636 10647,13628 10654,13618 10669,13600 10678,13575 10686,13554 10699,13516 10710,13479 10726,13443 10743,13405 10762,13367 10780,13328 10789,13307 10822,13231 10819,13208 L 10818,13208 C 10813,13210 10804,13219 10801,13222 10787,13237 10775,13256 10763,13274 10733,13327 10709,13386 10688,13442 10669,13491 10653,13542 10639,13593 10635,13608 10630,13625 10627,13642 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id15">
            <rect class="BoundingBox" stroke="none" fill="none" x="8275" y="14099" width="471" height="185"></rect>
            <path fill="rgb(255,203,0)" stroke="none" d="M 8288,14099 C 8284,14099 8280,14099 8276,14100 8275,14100 8275,14101 8275,14102 8275,14104 8276,14107 8277,14109 8279,14116 8279,14121 8280,14128 8295,14140 8356,14162 8370,14167 8418,14183 8466,14197 8513,14213 8552,14227 8589,14246 8628,14262 8655,14272 8686,14284 8715,14282 8726,14282 8736,14279 8745,14275 8735,14258 8722,14244 8705,14231 8682,14215 8654,14206 8626,14198 8592,14188 8557,14180 8523,14167 L 8288,14099 Z"></path>
       </g>
      </g>
            <g class="Group">
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id16">
            <rect class="BoundingBox" stroke="none" fill="none" x="4141" y="15506" width="12233" height="2607"></rect>
            <path fill="rgb(57,47,36)" stroke="none" d="M 5672,15635 C 5705,15635 5729,15631 5745,15623 5762,15615 5777,15605 5791,15593 5805,15580 5822,15567 5843,15553 5863,15539 5893,15526 5934,15514 5991,15498 6034,15506 6065,15538 6095,15570 6110,15595 6110,15611 6110,15619 6108,15625 6104,15629 6242,15653 6351,15710 6432,15799 6513,15888 6554,16006 6554,16152 6554,16266 6528,16375 6475,16478 6422,16581 6347,16674 6250,16755 6153,16836 6033,16901 5891,16949 5749,16998 5589,17022 5411,17022 5354,17022 5296,17014 5235,16998 5174,16982 5123,16961 5083,16937 5115,16970 5145,17010 5171,17059 5197,17107 5225,17150 5253,17186 5306,17255 5368,17333 5441,17420 5514,17509 5592,17590 5675,17665 5759,17740 5843,17804 5928,17859 6013,17914 6092,17943 6165,17947 6213,17951 6247,17942 6265,17920 6283,17898 6293,17871 6293,17841 6293,17810 6288,17780 6280,17750 6272,17719 6266,17698 6262,17686 6258,17678 6271,17694 6302,17734 6332,17775 6345,17824 6341,17880 6337,17937 6314,17990 6271,18038 6229,18087 6169,18111 6092,18111 6015,18111 5936,18087 5855,18038 5774,17990 5694,17926 5615,17847 5536,17768 5459,17676 5384,17570 5309,17465 5241,17355 5180,17241 5148,17188 5118,17138 5092,17089 5066,17040 5030,16990 4986,16937 4925,17042 4865,17156 4806,17278 4747,17399 4718,17501 4718,17583 4718,17615 4726,17639 4742,17655 4759,17672 4777,17684 4797,17692 4817,17704 4844,17710 4876,17710 4876,17714 4866,17720 4846,17728 4825,17737 4799,17741 4767,17741 4722,17741 4677,17724 4633,17692 4588,17660 4566,17603 4566,17522 4566,17510 4566,17496 4566,17482 4566,17468 4570,17450 4578,17430 4619,17255 4673,17104 4742,16977 4811,16849 4890,16708 4979,16554 5016,16493 5061,16423 5116,16344 5171,16265 5230,16186 5293,16106 5355,16027 5420,15952 5487,15881 5554,15810 5616,15751 5672,15702 5632,15714 5568,15735 5481,15766 5394,15796 5299,15834 5195,15878 5092,15923 4987,15974 4879,16030 4772,16087 4674,16149 4587,16217 4500,16284 4431,16354 4381,16426 4330,16499 4309,16574 4317,16651 4325,16696 4344,16728 4375,16749 4405,16769 4438,16787 4475,16803 4369,16803 4287,16775 4229,16718 4170,16662 4141,16599 4141,16530 4141,16433 4173,16343 4238,16262 4303,16181 4384,16107 4481,16042 4578,15978 4688,15921 4809,15872 4931,15824 5048,15782 5162,15748 5275,15713 5378,15687 5469,15669 5560,15650 5628,15639 5672,15635 Z M 5672,15635 L 5672,15635 Z M 6007,15690 C 5946,15726 5882,15776 5815,15839 5748,15902 5684,15969 5621,16039 5558,16110 5500,16180 5448,16247 5395,16314 5352,16370 5320,16414 5332,16410 5350,16403 5375,16393 5399,16383 5423,16373 5448,16363 5472,16353 5496,16343 5520,16335 5545,16327 5563,16325 5575,16329 5543,16345 5497,16369 5438,16399 5380,16430 5340,16455 5320,16475 5267,16516 5223,16560 5186,16609 5150,16657 5113,16716 5077,16785 5077,16862 5148,16909 5289,16925 5391,16937 5503,16922 5627,16879 5750,16837 5867,16777 5976,16700 6086,16623 6181,16534 6262,16433 6343,16331 6390,16230 6402,16128 6410,16075 6411,16025 6405,15979 6399,15932 6382,15891 6353,15854 6325,15818 6283,15785 6229,15757 6174,15728 6100,15706 6007,15690 Z M 6007,15690 L 6007,15690 Z M 6536,16700 C 6556,16672 6582,16651 6615,16639 6647,16627 6678,16621 6706,16621 6734,16621 6757,16626 6773,16636 6789,16646 6791,16662 6779,16682 6722,16771 6667,16859 6615,16946 6562,17033 6522,17115 6493,17192 6469,17253 6458,17301 6460,17335 6462,17370 6472,17392 6490,17402 6508,17412 6533,17411 6563,17399 6593,17387 6623,17365 6651,17332 6680,17304 6710,17267 6742,17223 6775,17178 6808,17133 6843,17086 6877,17039 6909,16994 6937,16949 6965,16905 6990,16866 7010,16834 6977,16927 6930,17027 6867,17135 6804,17242 6738,17326 6669,17387 6613,17432 6556,17453 6499,17451 6442,17449 6398,17432 6365,17399 6321,17351 6311,17269 6335,17156 6351,17099 6371,17045 6393,16992 6415,16939 6436,16891 6457,16846 6481,16797 6507,16749 6536,16700 Z M 6536,16700 L 6536,16700 Z M 6761,16238 C 6793,16222 6827,16216 6864,16220 6900,16224 6930,16235 6952,16253 6974,16271 6989,16293 6995,16317 7001,16341 6990,16364 6961,16384 6977,16335 6976,16311 6958,16311 6940,16311 6916,16323 6885,16347 6855,16372 6823,16399 6791,16430 6759,16460 6736,16479 6724,16487 6708,16495 6697,16490 6691,16472 6685,16454 6683,16430 6685,16399 6687,16369 6694,16338 6706,16308 6718,16278 6736,16254 6761,16238 Z M 6761,16238 L 6761,16238 Z M 7709,15945 C 7733,15957 7743,15985 7739,16027 7735,16070 7718,16122 7688,16183 7657,16244 7616,16311 7563,16384 7510,16457 7448,16530 7375,16603 7383,16595 7391,16591 7399,16591 7407,16591 7415,16589 7423,16585 7480,16572 7525,16580 7557,16609 7589,16637 7610,16674 7618,16718 7626,16791 7615,16871 7584,16958 7554,17046 7510,17127 7454,17202 7397,17277 7330,17339 7253,17390 7176,17441 7097,17463 7016,17454 6996,17454 6969,17450 6937,17442 6904,17434 6876,17418 6852,17396 6827,17374 6808,17342 6794,17302 6780,17261 6781,17209 6797,17144 6809,17095 6837,17023 6879,16928 6922,16833 6974,16730 7037,16621 7100,16512 7170,16402 7247,16293 7324,16183 7403,16089 7484,16012 7533,15963 7577,15936 7618,15930 7658,15924 7689,15929 7709,15945 Z M 7709,15945 L 7709,15945 Z M 7411,16639 C 7367,16631 7309,16666 7238,16743 7167,16820 7095,16907 7022,17004 L 7016,17010 C 7004,17038 6986,17074 6961,17116 6937,17159 6918,17201 6903,17241 6889,17282 6884,17317 6888,17347 6892,17378 6917,17393 6961,17393 6990,17393 7025,17383 7068,17363 7110,17342 7150,17316 7186,17284 7239,17235 7287,17175 7332,17104 7377,17033 7410,16964 7432,16898 7455,16831 7466,16773 7466,16724 7466,16676 7448,16647 7411,16639 Z M 7411,16639 L 7411,16639 Z M 7308,16597 C 7393,16508 7458,16433 7502,16372 7547,16311 7589,16244 7630,16171 7646,16142 7653,16123 7651,16112 7649,16102 7638,16105 7618,16122 7541,16216 7460,16319 7375,16433 7290,16546 7213,16660 7144,16773 7176,16741 7207,16708 7238,16676 7268,16643 7292,16617 7308,16597 Z M 7308,16597 L 7308,16597 Z M 7758,17461 C 7681,17461 7629,17440 7603,17399 7576,17359 7563,17310 7563,17253 7563,17176 7582,17098 7621,17019 7659,16940 7708,16869 7767,16806 7825,16744 7892,16691 7967,16648 8042,16606 8116,16583 8189,16578 8230,16574 8266,16583 8299,16603 8331,16623 8347,16655 8347,16700 8347,16757 8323,16811 8274,16864 8266,16876 8249,16895 8223,16919 8196,16943 8162,16970 8119,16998 8077,17026 8025,17054 7964,17080 7903,17106 7835,17126 7758,17138 7741,17166 7731,17190 7727,17211 7723,17231 7721,17251 7721,17271 7721,17340 7762,17379 7843,17387 7899,17391 7961,17374 8028,17335 8095,17297 8157,17248 8214,17189 8270,17131 8321,17069 8366,17004 8410,16939 8440,16884 8457,16840 8449,16913 8422,16986 8378,17059 8333,17132 8277,17199 8210,17259 8144,17320 8071,17369 7992,17405 7913,17442 7835,17461 7758,17461 Z M 7758,17461 L 7758,17461 Z M 7843,17022 C 7835,17030 7827,17039 7821,17050 7815,17060 7804,17077 7788,17101 7954,17045 8078,16978 8159,16901 8240,16824 8280,16759 8280,16706 8280,16686 8274,16676 8262,16676 8214,16676 8151,16710 8074,16779 7997,16848 7920,16929 7843,17022 Z M 7843,17022 L 7843,17022 Z M 8536,16433 C 8564,16408 8596,16397 8630,16399 8664,16401 8694,16410 8718,16426 8742,16443 8758,16463 8764,16487 8770,16512 8759,16534 8730,16554 8738,16526 8737,16509 8727,16502 8717,16496 8705,16495 8691,16499 8677,16503 8661,16513 8645,16527 8629,16541 8619,16556 8615,16572 8615,16572 8613,16574 8609,16578 8637,16578 8662,16579 8685,16581 8707,16584 8720,16585 8724,16585 8777,16589 8817,16610 8846,16648 8874,16687 8878,16722 8858,16755 8846,16775 8829,16805 8806,16846 8784,16886 8762,16931 8739,16980 8717,17028 8695,17077 8673,17126 8650,17174 8633,17219 8621,17259 8605,17316 8599,17352 8603,17366 8607,17380 8617,17385 8633,17381 8649,17377 8666,17366 8685,17347 8703,17329 8716,17314 8724,17302 8801,17213 8867,17125 8922,17037 8976,16950 9016,16878 9040,16822 9032,16866 9014,16919 8986,16980 8957,17040 8925,17101 8888,17162 8852,17223 8812,17279 8770,17329 8727,17380 8688,17415 8651,17436 8611,17456 8568,17465 8524,17461 8479,17456 8453,17413 8445,17332 8440,17284 8448,17227 8466,17162 8484,17097 8506,17034 8533,16974 8559,16913 8584,16857 8609,16806 8633,16756 8651,16720 8663,16700 8671,16692 8679,16681 8685,16667 8691,16652 8688,16641 8676,16633 8667,16629 8655,16624 8639,16618 8623,16612 8605,16619 8584,16639 8580,16643 8570,16656 8554,16679 8538,16701 8526,16722 8517,16743 8477,16832 8440,16911 8408,16980 8376,17049 8337,17105 8293,17150 8309,17117 8335,17058 8372,16971 8408,16883 8434,16805 8451,16737 8459,16696 8467,16643 8475,16578 8483,16514 8503,16465 8536,16433 Z M 8536,16433 L 8536,16433 Z M 9600,17387 C 9640,17399 9683,17386 9727,17347 9772,17309 9814,17260 9855,17202 9895,17143 9932,17080 9964,17013 9997,16946 10023,16888 10043,16840 10015,16933 9979,17034 9934,17144 9889,17253 9833,17336 9764,17393 9748,17405 9723,17419 9691,17436 9658,17452 9626,17456 9594,17448 9541,17456 9496,17444 9460,17411 9435,17387 9418,17351 9408,17302 9398,17253 9409,17178 9442,17077 9409,17130 9367,17187 9314,17250 9261,17313 9213,17361 9168,17393 9075,17463 8998,17480 8937,17445 8876,17410 8842,17367 8834,17314 8826,17245 8833,17176 8855,17107 8877,17038 8908,16974 8946,16913 8985,16852 9030,16798 9083,16752 9136,16705 9186,16670 9235,16645 9344,16593 9446,16570 9539,16578 9632,16587 9703,16607 9752,16639 9788,16668 9807,16710 9809,16767 9811,16824 9774,16880 9697,16937 9685,16957 9667,16989 9645,17031 9623,17074 9604,17119 9587,17168 9571,17217 9561,17261 9557,17302 9553,17342 9567,17371 9600,17387 Z M 9600,17387 L 9600,17387 Z M 9551,16834 C 9571,16814 9604,16805 9648,16809 9693,16814 9719,16826 9727,16846 9752,16814 9760,16783 9752,16755 9743,16726 9724,16705 9694,16691 9663,16677 9624,16672 9575,16676 9527,16680 9476,16694 9423,16718 9367,16743 9314,16778 9265,16825 9217,16871 9172,16922 9131,16977 9091,17031 9059,17087 9034,17144 9010,17201 8998,17253 8998,17302 8998,17342 9009,17368 9031,17378 9053,17388 9091,17373 9144,17332 9180,17304 9218,17268 9256,17226 9295,17183 9332,17139 9369,17092 9405,17046 9437,17001 9466,16958 9494,16916 9519,16882 9539,16858 L 9539,16852 9551,16834 Z M 9551,16834 L 9551,16834 Z M 11588,17326 C 11625,17298 11663,17261 11704,17217 11744,17172 11783,17125 11819,17074 11856,17023 11889,16975 11920,16928 11950,16881 11973,16840 11990,16803 11973,16852 11951,16905 11923,16961 11894,17018 11861,17075 11823,17132 11784,17188 11744,17240 11704,17287 11663,17333 11623,17371 11582,17399 11513,17444 11449,17452 11388,17423 11327,17391 11294,17345 11288,17287 11281,17228 11285,17172 11297,17119 L 11315,17053 C 11295,17081 11261,17128 11215,17192 11168,17257 11120,17312 11072,17357 10979,17438 10900,17467 10835,17442 10770,17417 10733,17377 10725,17320 10717,17251 10724,17181 10747,17110 10769,17039 10799,16974 10838,16913 10876,16852 10922,16798 10974,16752 11027,16705 11078,16670 11126,16645 11212,16605 11287,16583 11351,16578 11416,16574 11477,16583 11534,16603 11558,16562 11588,16513 11625,16454 11661,16395 11698,16335 11734,16274 11771,16214 11807,16158 11844,16106 11880,16056 11913,16018 11941,15994 12026,15921 12087,15900 12123,15930 12160,15960 12150,16008 12093,16073 12016,16163 11947,16257 11886,16357 11826,16456 11763,16558 11698,16664 11718,16700 11718,16746 11698,16800 11678,16855 11627,16905 11546,16949 11449,17140 11408,17267 11424,17332 11428,17353 11439,17366 11455,17372 11471,17378 11487,17379 11503,17375 11520,17371 11536,17364 11552,17354 11568,17343 11580,17334 11588,17326 Z M 11588,17326 L 11588,17326 Z M 11023,17338 C 11096,17274 11159,17199 11212,17113 11264,17028 11321,16957 11382,16901 11398,16856 11417,16815 11440,16776 11462,16738 11485,16696 11509,16651 11481,16647 11453,16649 11424,16657 11396,16666 11364,16678 11327,16694 11270,16718 11217,16755 11166,16803 11115,16852 11070,16905 11029,16961 10989,17018 10955,17078 10929,17141 10903,17204 10885,17263 10877,17320 10869,17361 10879,17385 10908,17393 10936,17401 10974,17383 11023,17338 Z M 11023,17338 L 11023,17338 Z M 11570,16888 C 11635,16840 11663,16789 11655,16737 L 11570,16888 Z M 11570,16888 L 11570,16888 Z M 11892,17461 C 11815,17461 11764,17440 11737,17399 11711,17359 11698,17310 11698,17253 11698,17176 11717,17098 11756,17019 11794,16940 11843,16869 11902,16806 11960,16744 12027,16691 12102,16648 12177,16606 12251,16583 12324,16578 12365,16574 12401,16583 12433,16603 12466,16623 12482,16655 12482,16700 12482,16757 12458,16811 12409,16864 12401,16876 12384,16895 12357,16919 12331,16943 12297,16970 12254,16998 12212,17026 12160,17054 12099,17080 12038,17106 11969,17126 11892,17138 11876,17166 11866,17190 11862,17211 11858,17231 11856,17251 11856,17271 11856,17340 11896,17379 11978,17387 12034,17391 12096,17374 12163,17335 12230,17297 12292,17248 12348,17189 12405,17131 12456,17069 12500,17004 12545,16939 12575,16884 12592,16840 12583,16913 12557,16986 12513,17059 12468,17132 12412,17199 12345,17259 12278,17320 12206,17369 12126,17405 12047,17442 11969,17461 11892,17461 Z M 11892,17461 L 11892,17461 Z M 11978,17022 C 11969,17030 11962,17039 11956,17050 11950,17060 11939,17077 11923,17101 12089,17045 12213,16978 12294,16901 12375,16824 12415,16759 12415,16706 12415,16686 12409,16676 12397,16676 12348,16676 12286,16710 12209,16779 12132,16848 12055,16929 11978,17022 Z M 11978,17022 L 11978,17022 Z M 13041,16061 C 13114,15992 13181,15950 13242,15936 13303,15922 13339,15943 13351,16000 13360,16036 13350,16089 13324,16159 13298,16228 13257,16303 13202,16384 13148,16465 13080,16547 12999,16630 12918,16713 12827,16789 12725,16858 12725,16854 12737,16839 12762,16813 12786,16786 12810,16761 12835,16737 12883,16688 12932,16635 12981,16578 13029,16522 13073,16468 13111,16417 13150,16367 13181,16320 13206,16278 13230,16235 13242,16202 13242,16177 13242,16165 13240,16159 13236,16159 13212,16159 13178,16181 13136,16226 13093,16270 13046,16327 12996,16396 12945,16465 12894,16544 12844,16633 12793,16722 12747,16809 12704,16895 12661,16980 12627,17061 12601,17138 12574,17215 12561,17278 12561,17326 12561,17371 12575,17393 12604,17393 12640,17393 12682,17372 12728,17329 12775,17287 12821,17236 12865,17177 12910,17118 12951,17057 12990,16992 13028,16927 13058,16872 13078,16828 13066,16888 13041,16954 13005,17025 12968,17096 12926,17164 12877,17229 12829,17294 12777,17347 12722,17390 12668,17433 12614,17454 12561,17454 12517,17454 12477,17443 12443,17420 12408,17398 12393,17357 12397,17296 12401,17223 12423,17130 12464,17016 12504,16903 12555,16786 12616,16667 12677,16547 12745,16434 12820,16326 12894,16219 12968,16130 13041,16061 Z M 13041,16061 L 13041,16061 Z M 15491,15635 C 15524,15635 15548,15631 15564,15623 15580,15615 15596,15605 15610,15593 15624,15580 15641,15567 15662,15553 15682,15539 15712,15526 15753,15514 15809,15498 15853,15506 15883,15538 15914,15570 15929,15595 15929,15611 15929,15619 15927,15625 15923,15629 16061,15653 16170,15710 16251,15799 16332,15888 16373,16006 16373,16152 16373,16266 16346,16375 16294,16478 16241,16581 16166,16674 16069,16755 15972,16836 15852,16901 15710,16949 15568,16998 15408,17022 15230,17022 15173,17022 15114,17014 15054,16998 14993,16982 14942,16961 14902,16937 14934,16970 14963,17010 14990,17059 15016,17107 15043,17150 15072,17186 15125,17255 15187,17333 15260,17420 15333,17509 15411,17590 15494,17665 15577,17740 15662,17804 15747,17859 15832,17914 15911,17943 15984,17947 16032,17951 16066,17942 16084,17920 16102,17898 16111,17871 16111,17841 16111,17810 16107,17780 16099,17750 16091,17719 16085,17698 16081,17686 16077,17678 16090,17694 16120,17734 16151,17775 16164,17824 16160,17880 16156,17937 16133,17990 16090,18038 16048,18087 15988,18111 15911,18111 15834,18111 15755,18087 15674,18038 15593,17990 15513,17926 15434,17847 15355,17768 15278,17676 15203,17570 15128,17465 15060,17355 14999,17241 14966,17188 14937,17138 14911,17089 14884,17040 14849,16990 14804,16937 14744,17042 14684,17156 14625,17278 14566,17399 14537,17501 14537,17583 14537,17615 14545,17639 14561,17655 14577,17672 14596,17684 14616,17692 14636,17704 14663,17710 14695,17710 14695,17714 14685,17720 14665,17728 14644,17737 14618,17741 14586,17741 14541,17741 14496,17724 14452,17692 14407,17660 14385,17603 14385,17522 14385,17510 14385,17496 14385,17482 14385,17468 14389,17450 14397,17430 14438,17255 14492,17104 14561,16977 14630,16849 14709,16708 14798,16554 14835,16493 14880,16423 14935,16344 14990,16265 15049,16186 15111,16106 15174,16027 15239,15952 15306,15881 15373,15810 15435,15751 15491,15702 15451,15714 15387,15735 15300,15766 15213,15796 15117,15834 15014,15878 14911,15923 14805,15974 14698,16030 14591,16087 14493,16149 14406,16217 14319,16284 14250,16354 14199,16426 14149,16499 14128,16574 14136,16651 14144,16696 14163,16728 14193,16749 14224,16769 14257,16787 14294,16803 14188,16803 14106,16775 14048,16718 13989,16662 13959,16599 13959,16530 13959,16433 13992,16343 14057,16262 14121,16181 14203,16107 14300,16042 14397,15978 14506,15921 14628,15872 14750,15824 14867,15782 14981,15748 15094,15713 15196,15687 15288,15669 15379,15650 15447,15639 15491,15635 Z M 15491,15635 L 15491,15635 Z M 15826,15690 C 15765,15726 15701,15776 15634,15839 15567,15902 15502,15969 15440,16039 15377,16110 15319,16180 15266,16247 15214,16314 15171,16370 15139,16414 15151,16410 15169,16403 15193,16393 15218,16383 15242,16373 15266,16363 15291,16353 15315,16343 15339,16335 15364,16327 15382,16325 15394,16329 15362,16345 15316,16369 15257,16399 15198,16430 15159,16455 15139,16475 15086,16516 15041,16560 15005,16609 14968,16657 14932,16716 14896,16785 14896,16862 14966,16909 15108,16925 15210,16937 15322,16922 15446,16879 15569,16837 15686,16777 15795,16700 15905,16623 16000,16534 16081,16433 16162,16331 16209,16230 16221,16128 16229,16075 16230,16025 16224,15979 16218,15932 16201,15891 16172,15854 16144,15818 16102,15785 16048,15757 15993,15728 15919,15706 15826,15690 Z"></path>
        </g>
       </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id17">
            <rect class="BoundingBox" stroke="none" fill="none" x="16140" y="16062" width="1378" height="1412"></rect>
            <path fill="rgb(57,47,36)" stroke="none" d="M 16354,16699 C 16374,16670 16401,16650 16433,16638 16465,16626 16497,16620 16525,16620 16554,16620 16576,16625 16592,16635 16608,16645 16610,16660 16598,16680 16541,16771 16487,16859 16433,16946 16380,17033 16340,17115 16311,17192 16287,17253 16276,17300 16278,17335 16280,17369 16290,17392 16308,17402 16327,17412 16351,17411 16381,17399 16412,17387 16441,17364 16469,17332 16499,17303 16529,17267 16562,17222 16594,17178 16628,17132 16662,17086 16696,17039 16728,16993 16756,16949 16785,16904 16809,16866 16829,16833 16797,16927 16749,17027 16686,17134 16623,17242 16558,17326 16489,17387 16431,17431 16374,17452 16318,17450 16261,17448 16216,17431 16184,17399 16140,17350 16130,17269 16153,17156 16170,17099 16189,17044 16211,16991 16233,16939 16255,16890 16275,16845 16299,16797 16326,16747 16354,16699 Z M 16354,16699 L 16354,16699 Z M 16799,16212 C 16783,16241 16761,16268 16735,16294 16709,16321 16683,16343 16659,16361 16635,16379 16613,16392 16595,16398 16577,16404 16570,16399 16574,16382 16578,16366 16588,16339 16604,16300 16620,16262 16634,16225 16644,16191 16654,16157 16655,16132 16647,16118 16639,16104 16614,16111 16574,16139 16586,16107 16608,16085 16641,16072 16673,16061 16705,16059 16735,16066 16765,16074 16789,16092 16805,16118 16821,16144 16819,16176 16799,16212 Z M 16799,16212 L 16799,16212 Z M 17151,17301 C 17177,17301 17206,17288 17240,17262 17275,17236 17310,17202 17347,17162 17383,17121 17417,17079 17447,17034 17478,16989 17501,16949 17517,16912 17509,16957 17492,17005 17465,17055 17439,17106 17409,17154 17374,17198 17340,17243 17302,17279 17262,17308 17221,17336 17185,17350 17151,17350 17127,17350 17111,17348 17103,17344 17046,17389 16996,17421 16954,17441 16911,17462 16862,17472 16805,17472 16724,17472 16666,17449 16632,17405 16597,17360 16582,17303 16586,17235 16590,17166 16609,17092 16644,17013 16678,16934 16722,16861 16774,16794 16827,16726 16885,16670 16948,16626 17011,16581 17074,16561 17139,16565 17197,16569 17250,16587 17298,16620 17347,16652 17371,16713 17371,16803 17371,16860 17355,16940 17323,17043 17290,17146 17233,17233 17151,17301 Z M 17151,17301 L 17151,17301 Z M 17024,17241 C 17024,17192 17044,17149 17084,17113 17125,17077 17172,17074 17225,17107 17237,17107 17251,17086 17265,17043 17279,17001 17288,16954 17292,16903 17296,16853 17291,16805 17277,16759 17263,16715 17233,16693 17189,16693 17143,16693 17096,16714 17045,16756 16994,16800 16947,16852 16902,16912 16858,16973 16822,17040 16796,17113 16769,17186 16760,17253 16768,17314 16772,17350 16786,17374 16808,17387 16830,17399 16855,17404 16884,17402 16912,17400 16942,17391 16972,17374 17002,17358 17028,17340 17048,17320 17032,17299 17024,17273 17024,17241 Z"></path>
        </g>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id18">
            <rect class="BoundingBox" stroke="none" fill="none" x="6615" y="17979" width="768" height="432"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 6715,18088 C 6744,18141 6716,18344 6839,18389 6900,18411 7050,18422 7144,18389 7285,18339 7264,18109 7283,18075 7323,18005 7380,18063 7381,18002 7340,17980 7305,18009 7275,18023 7275,18002 7280,17998 7285,17979 L 6715,17979 C 6716,17985 6716,18013 6708,18018 6686,18001 6646,17983 6615,18003 6614,18061 6684,18008 6715,18088 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id19">
            <rect class="BoundingBox" stroke="none" fill="none" x="6715" y="17782" width="561" height="164"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 6970,17857 C 6891,17871 6746,17886 6715,17944 6896,17946 7081,17944 7275,17944 7245,17868 7045,17878 7023,17857 7022,17855 7021,17850 7021,17851 7021,17845 7021,17840 7023,17833 7023,17833 7026,17829 7028,17825 L 7028,17825 7028,17824 C 7031,17820 7032,17815 7032,17810 7032,17804 7029,17796 7024,17792 7017,17784 7007,17782 6993,17782 6981,17782 6971,17785 6963,17791 6958,17796 6957,17803 6957,17810 6957,17815 6958,17821 6961,17826 6962,17829 6963,17832 6964,17834 6971,17842 6969,17853 6970,17857 Z"></path>
</g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id20">
            <rect class="BoundingBox" stroke="none" fill="none" x="8074" y="17823" width="6298" height="583"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 8074,17837 L 8133,17837 C 8166,17837 8189,17843 8203,17854 8216,17865 8228,17883 8236,17908 8244,17933 8249,17963 8249,17999 8249,18035 8244,18065 8235,18090 8225,18114 8211,18132 8193,18145 L 8262,18391 8201,18391 8135,18157 8129,18157 8129,18391 8074,18391 8074,17837 Z M 8074,17837 L 8074,17837 Z M 8129,18054 L 8147,18054 C 8165,18054 8177,18050 8184,18041 8191,18032 8194,18018 8194,17997 8194,17985 8193,17975 8189,17965 8186,17956 8182,17949 8176,17945 8170,17942 8160,17940 8145,17940 L 8129,17940 8129,18054 Z M 8129,18054 L 8129,18054 Z M 8372,17837 L 8533,17837 8533,17940 8428,17940 8428,18041 8533,18041 8533,18142 8428,18142 8428,18288 8533,18288 8533,18391 8372,18391 8372,17837 Z M 8372,17837 L 8372,17837 Z M 8804,17912 L 8762,17982 C 8748,17943 8733,17924 8718,17924 8710,17924 8704,17928 8700,17935 8695,17943 8693,17951 8693,17960 8693,17970 8694,17979 8698,17987 8702,17998 8716,18022 8739,18058 8760,18092 8773,18113 8778,18122 8789,18143 8797,18164 8802,18183 8807,18203 8809,18224 8809,18248 8809,18294 8801,18331 8784,18361 8767,18390 8746,18405 8719,18405 8698,18405 8679,18396 8664,18376 8648,18357 8635,18327 8624,18285 L 8671,18231 C 8685,18281 8702,18305 8720,18305 8730,18305 8738,18300 8744,18289 8751,18279 8754,18267 8754,18252 8754,18240 8752,18227 8747,18214 8742,18202 8731,18183 8714,18157 8682,18108 8661,18070 8652,18044 8642,18017 8638,17991 8638,17963 8638,17925 8645,17892 8661,17865 8677,17837 8696,17824 8719,17824 8733,17824 8747,17830 8761,17843 8774,17855 8788,17879 8804,17912 Z M 8804,17912 L 8804,17912 Z M 8898,17837 L 9061,17837 9061,17941 9007,17941 9007,18391 8950,18391 8950,17941 8898,17941 8898,17837 Z M 8898,17837 L 8898,17837 Z M 9253,17837 L 9309,17837 9423,18391 9364,18391 9341,18278 9221,18278 9197,18391 9139,18391 9253,17837 Z M 9253,17837 L 9253,17837 Z M 9281,17985 L 9241,18175 9321,18175 9281,17985 Z M 9281,17985 L 9281,17985 Z M 9528,17837 L 9585,17837 9585,18195 C 9585,18226 9586,18248 9589,18262 9592,18274 9596,18285 9603,18292 9610,18300 9618,18304 9627,18304 9637,18304 9645,18299 9653,18291 9660,18282 9665,18272 9667,18257 9670,18244 9671,18219 9671,18182 L 9671,17837 9728,17837 9728,18167 C 9728,18223 9726,18262 9723,18284 9719,18305 9713,18326 9704,18346 9694,18366 9683,18381 9671,18391 9659,18400 9644,18405 9628,18405 9607,18405 9588,18396 9573,18378 9557,18359 9545,18336 9539,18309 9532,18281 9528,18233 9528,18167 L 9528,17837 Z M 9528,17837 L 9528,17837 Z M 9861,17837 L 9920,17837 C 9953,17837 9976,17843 9990,17854 10004,17865 10015,17883 10023,17908 10032,17933 10036,17963 10036,17999 10036,18035 10031,18065 10022,18090 10013,18114 9999,18132 9980,18145 L 10050,18391 9988,18391 9922,18157 9917,18157 9917,18391 9861,18391 9861,17837 Z M 9861,17837 L 9861,17837 Z M 9917,18054 L 9934,18054 C 9952,18054 9965,18050 9972,18041 9978,18032 9982,18018 9982,17997 9982,17985 9980,17975 9977,17965 9973,17956 9969,17949 9963,17945 9958,17942 9947,17940 9932,17940 L 9917,17940 9917,18054 Z M 9917,18054 L 9917,18054 Z M 10249,17837 L 10306,17837 10419,18391 10361,18391 10338,18278 10217,18278 10193,18391 10135,18391 10249,17837 Z M 10249,17837 L 10249,17837 Z M 10277,17985 L 10237,18175 10317,18175 10277,17985 Z M 10277,17985 L 10277,17985 Z M 10527,17837 L 10580,17837 10707,18202 10707,17837 10763,17837 10763,18391 10709,18391 10583,18028 10583,18391 10527,18391 10527,17837 Z M 10527,17837 L 10527,17837 Z M 10865,17837 L 11028,17837 11028,17941 10974,17941 10974,18391 10917,18391 10917,17941 10865,17941 10865,17837 Z M 10865,17837 L 10865,17837 Z M 11131,17837 L 11293,17837 11293,17940 11187,17940 11187,18041 11293,18041 11293,18142 11187,18142 11187,18288 11293,18288 11293,18391 11131,18391 11131,17837 Z M 11131,17837 L 11131,17837 Z M 11909,17934 L 11870,18005 C 11843,17951 11813,17925 11779,17925 11751,17925 11728,17943 11708,17980 11689,18016 11679,18060 11679,18113 11679,18150 11684,18183 11692,18211 11701,18240 11713,18263 11728,18279 11744,18296 11761,18304 11781,18304 11797,18304 11812,18298 11825,18287 11839,18275 11854,18253 11870,18223 L 11908,18299 C 11886,18339 11865,18367 11846,18382 11827,18397 11805,18405 11780,18405 11734,18405 11696,18378 11667,18324 11638,18269 11624,18198 11624,18113 11624,18058 11630,18010 11643,17966 11657,17923 11676,17889 11701,17863 11725,17837 11752,17824 11781,17824 11805,17824 11828,17833 11851,17852 11873,17872 11893,17899 11909,17934 Z M 11909,17934 L 11909,17934 Z M 12112,17837 L 12169,17837 12282,18391 12224,18391 12201,18278 12080,18278 12057,18391 11998,18391 12112,17837 Z M 12112,17837 L 12112,17837 Z M 12141,17985 L 12101,18175 12180,18175 12141,17985 Z M 12141,17985 L 12141,17985 Z M 12418,17837 L 12472,17837 12541,18223 12610,17837 12664,17837 12713,18391 12659,18391 12628,18042 12565,18391 12516,18391 12454,18042 12422,18391 12367,18391 12418,17837 Z M 12418,17837 L 12418,17837 Z M 12822,17837 L 12882,17837 C 12914,17837 12937,17843 12952,17854 12966,17865 12977,17883 12985,17908 12993,17933 12998,17963 12998,17999 12998,18037 12992,18069 12981,18095 12971,18120 12956,18138 12937,18148 12927,18154 12907,18157 12878,18157 L 12878,18391 12822,18391 12822,17837 Z M 12822,17837 L 12822,17837 Z M 12878,18054 L 12896,18054 C 12910,18054 12920,18052 12926,18049 12931,18045 12935,18039 12939,18030 12942,18021 12943,18011 12943,17998 12943,17977 12939,17960 12930,17951 12924,17943 12912,17940 12894,17940 L 12878,17940 12878,18054 Z M 12878,18054 L 12878,18054 Z M 13117,17837 L 13278,17837 13278,17940 13173,17940 13173,18041 13278,18041 13278,18142 13173,18142 13173,18288 13278,18288 13278,18391 13117,18391 13117,17837 Z M 13117,17837 L 13117,17837 Z M 13549,17912 L 13507,17982 C 13493,17943 13478,17924 13463,17924 13455,17924 13449,17928 13445,17935 13440,17943 13438,17951 13438,17960 13438,17970 13439,17979 13443,17987 13447,17998 13461,18022 13484,18058 13505,18092 13518,18113 13523,18122 13534,18143 13542,18164 13547,18183 13552,18203 13554,18224 13554,18248 13554,18294 13546,18331 13529,18361 13512,18390 13490,18405 13463,18405 13443,18405 13424,18396 13409,18376 13393,18357 13380,18327 13369,18285 L 13416,18231 C 13430,18281 13446,18305 13465,18305 13474,18305 13483,18300 13489,18289 13496,18279 13499,18267 13499,18252 13499,18240 13497,18227 13492,18214 13487,18202 13476,18183 13459,18157 13427,18108 13406,18070 13397,18044 13387,18017 13383,17991 13383,17963 13383,17925 13390,17892 13406,17865 13421,17837 13441,17824 13463,17824 13478,17824 13492,17830 13505,17843 13519,17855 13533,17879 13549,17912 Z M 13549,17912 L 13549,17912 Z M 13643,17837 L 13806,17837 13806,17941 13752,17941 13752,18391 13695,18391 13695,17941 13643,17941 13643,17837 Z M 13643,17837 L 13643,17837 Z M 13912,17837 L 13971,17837 C 14004,17837 14027,17843 14041,17854 14054,17865 14066,17883 14074,17908 14082,17933 14087,17963 14087,17999 14087,18035 14082,18065 14073,18090 14063,18114 14049,18132 14031,18145 L 14100,18391 14039,18391 13973,18157 13967,18157 13967,18391 13912,18391 13912,17837 Z M 13912,17837 L 13912,17837 Z M 13967,18054 L 13985,18054 C 14003,18054 14015,18050 14022,18041 14029,18032 14032,18018 14032,17997 14032,17985 14031,17975 14027,17965 14024,17956 14020,17949 14014,17945 14008,17942 13998,17940 13983,17940 L 13967,17940 13967,18054 Z M 13967,18054 L 13967,18054 Z M 14210,17837 L 14371,17837 14371,17940 14266,17940 14266,18041 14371,18041 14371,18142 14266,18142 14266,18288 14371,18288 14371,18391 14210,18391 14210,17837 Z"></path>
                </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id21">
            <rect class="BoundingBox" stroke="none" fill="none" x="7679" y="17850" width="103" height="553"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 7765,17886 C 7752,17854 7736,17850 7730,17850 L 7729,17850 C 7723,17850 7707,17854 7693,17886 7679,17926 7677,17966 7681,17993 7688,18035 7722,18037 7722,18071 7722,18114 7707,18270 7700,18327 7695,18384 7707,18401 7729,18401 7752,18401 7764,18384 7759,18327 7752,18270 7736,18114 7736,18071 7736,18037 7771,18035 7778,17993 7783,17966 7781,17926 7765,17886 Z"></path>
       </g>
      </g>
            <g class="com.sun.star.drawing.ClosedBezierShape">
            <g id="id22">
            <rect class="BoundingBox" stroke="none" fill="none" x="7477" y="17851" width="80" height="552"></rect>
            <path fill="rgb(210,79,22)" stroke="none" d="M 7547,17851 L 7540,17851 7540,17960 C 7540,17965 7538,17969 7535,17969 7531,17969 7529,17965 7529,17960 L 7529,17851 7522,17851 7522,17960 C 7522,17965 7520,17969 7517,17969 7512,17969 7510,17965 7510,17960 L 7510,17851 7503,17851 7503,17960 C 7503,17965 7501,17969 7498,17969 7494,17969 7492,17965 7492,17960 L 7492,17851 7486,17851 C 7486,17851 7474,17976 7477,18003 7485,18045 7509,18038 7509,18072 7509,18115 7494,18270 7488,18327 7482,18384 7494,18401 7517,18401 7539,18401 7551,18384 7545,18327 7539,18270 7524,18115 7524,18072 7524,18038 7547,18048 7554,18006 7558,17979 7547,17851 7547,17851 Z"></path>
       </g>
      </g>
     </g>
    </g>
   </g>
  </g>
 </g>
</svg>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">RECREACION</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/recreacion.png">
                <p class="category-body">
                    <span>T</span>e ofrecemos un ambiente natural en donde podrá deleitarse de un paisaje verde,
                    descontaminado y a tan solo 45 minutos de la ciudad. Un lugar mágico, con un clima
                    cálido que puede disfrutar en familia.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">RESTAURANT</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/restaurant.png">
                <p class="category-body">
                    <span>S</span>iempre es bueno darse un gusto! Y para eso, nosotros el 
                    “Restaurante Ribera del Río” les da la bienvenida y los invita a disfrutar 
                    de los diferentes platos típicos nacionales, regionales y criollos.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">FULL DAY</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/fullday.png">
                <p class="category-body">
                    <span>T</span>e gustaría vivir una experiencia que incluya adrenalina, diversion, 
                    buena comida y mucho más? Hoy es tu día de suerte porque Ribera del Río te ofrece 
                    full days todo incluido. ¡Aprovecha nuestras promociones y sácale el jugo a tu Full day!.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">CAMPAMENTO</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/campamento.png">
                <p class="category-body">
                    <span>H</span>ay distintas razones para quedarse más de una tarde en el Restaurante 
                    Ribera del Río y es que contamos con una zona de campamentos y parrillas, en donde podrás 
                    disfrutar de la naturaleza, acompañada de una buena fogata bajo las estrellas, junto a tus amigos y familiares.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">EVENTOS</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/eventos.png">
                <p class="category-body">
                    <span>A</span>demás, brindamos a las familias y empresas ambientes para diversos 
                    eventos como: matrimonios, celebración de cumpleaños, aniversarios de empresas, 
                    integración, etc., siendo mucho más placentera su reunión en un espacio campestre.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4 class="category-titulo">CLUB RESORTS</h4>
                <img id="imgRecre" class="category-body-img" src="~/Img/clubresort.png">
                <p class="category-body">
                    <span>S</span>e parte de la Familia. Ya iniciamos afiliacion para nuestro proximo 
                    Desarrollo Hotelero. Disfruta del Hotel Resort Ribera del Rio, como si fuera un Club, 
                    los 365 dias del año, para usted y su familia. Descuentos, Alojamiento Gratuito y un Excelente 
                    Programa de Ahorro Vacacional, que podras disfrutarlo a nivel Nacional e Internacional.
                </p>
            </div>
        </div>
    </div>
</section>