
@{
    ViewBag.Title = "SwapPart";
}

<section class="mt-6">
    <div class="container">
        <div class="row">
            <div class="col-12 m-4 text-center">
                <h2 class="package-title">Vive Experiencias Unicas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Img/pfullday.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">Full Day</h5>
                        <p class="card-text"><i class="fas fa-tag"></i> Precio Normal: <span class="text-through">S/. 45.00</span></p>
                        <p class="card-text font-weight-bold"><i class="fas fa-tags"></i> Precio: S/. 35.00</p>
                        <a href="#" class=""></a>
                        @Html.ActionLink("Mas Informacion","SwapPartDetail",new { id = 1 }, new { @class = "btn btn-primary btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


